* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    max-width: 1440px;
}

ul {
    list-style: none;
    font-size: 20px;
    line-height: 22.98px;

}

header ul {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div img {
    margin-left: 82px;
}

header ul li {
   font-weight: 700;
   font-style: normal;
   font-size: 20px;
   line-height: 23px;
   text-transform: uppercase;
   color: #fdfdfd;
}

#contato {
    margin-right: 103px;
}

#blog {
    margin-right: 37px;
}

#cursos {
    margin-right: 42px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

h5 a {
   text-decoration: none;
   color: #ff4081;
}

header {
    background-color: #2E948A;
    width: 1440px;
    height: 117px;
    box-shadow: 0px 3px 7px rgb(0, 0, 0, 0.25);
}

h1 {
        font-style: normal;
        font-family: 'Ubuntu';
        font-weight: 500;
        font-size: 50px;
        line-height: 57px;
        color: #FF4081;
        text-align: center;
        margin-top: 111px;
}

h5 {
    margin-top: 12px;
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #9d9d9d;

}

#fotopost {
    width: 1032px;
    height: 465px;
    top: 381px;
    left: 204px;
    background-color: #c4c4c4;
    position: absolute;

}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    color: #ff4081;
}

h3 {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    font-family: Ubuntu;
    color: #419488;
    align-items: center;
    text-align: center;
}

p {
    font-family: ubuntu;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    font-feature-settings: "kern"off;
}

.post {
    width: 1032px;
    height: 1971px;
    margin-left: 204px;
}

.flex {
    width: 1440px;
    height: 899px;
    top: 2082px;
    background-color: #f6f6f6;
}

.flex2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    align-items: center;
    text-align: center;
    padding: 100px;
}

.flex h4 {
    color: #FF4081;
    font-size: 25px;
    line-height: 29px;
    font-weight: 700;
    text-align: center;
    font-style: normal;
}

.flex p {
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    align-items: center;
    color: #000;
    width: 90%;
    margin-left: 30px;
}

.retangulo13 {
    width: 233px;
    height: 51px;
    top: 1391px;
    padding: 10px;
    background: #FF4081;
    border-radius: 62px;
    align-items: center;
    margin-left: 75px;
}

.retangulo14 {
    width: 233px;
    height: 51px;
    left: 623px;
    top: 1389px;
    padding: 10px;
    background: #FF4081;
    border-radius: 62px;
    margin-left: 90px;
}

.retangulo15 {
    width: 233px;
    height: 51px;
    left: 1043px;
    top: 1389px;
    padding: 10px;
    background: #FF4081;
    border-radius: 62px;
    margin-left: 90px;
}

span a {
    text-decoration: none;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

footer {
    display: flex;
    background-color: #419488;
    position: absolute;
    width: 1440px;
    height: 207px;
    left: 0px;
    top: 3100px;
    align-items: flex-start;
}

footer img {
    margin-left: 128px;
    margin-top: 53px;
}

#rodmeio {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin-left: 183px;
    margin-top: 53px;
    margin-right: 320px;
    line-height: 30px;
}

li a:hover {
    color: rgb(190, 189, 189);
    transition: 300ms;
}

#queroserprof {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-right: 178px;
    text-align: center;
}

#retangulo12 {
    width: 289px;
    height: 51px;
    top: 50px;
    left: 1014px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 10px;
    position: absolute;
}

#outrolink {
    line-height: 23px;
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
    margin-right: 178px;
    text-align: center;
}

#retangulo13 {
   position: absolute;
   width: 289px;
   height: 51px;
   top: 114px;
   bottom: 1014px;
   border-radius: 62px;
   border: 2px solid #FFF;
   box-sizing: border-box;
   padding: 10px;
}