     * {
         padding: 0;
         margin: 0;
         box-sizing: border-box;
         font-family: 'Ubuntu', sans-serif;
         max-width: 1440px;
     }

     ul {
         list-style: none;
         font-size: 20px;
         line-height: 22.98px;

     }

     header ul {
         display: flex;
     }

     header {
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     header div img {
         margin-left: 82px;
     }

     header ul li {
         font-size: 20px;
         color: #fdfdfd;
     }

     #contato {
         margin-right: 103px;
     }

     #blog {
         margin-right: 37px;
     }

     #cursos {
         margin-right: 42px;
     }

     a {
         text-decoration: none;
         color: #FDFDFD
     }

     header {
         background-color: #2E948A;
         width: 1440px;
         height: 117px;
         box-shadow: 0px 3px 7px rgb(0, 0, 0, 0.25);
     }

     .container {
         display: flex;
         align-items: center;
         border: 1px solid #0000;
         justify-content: center;
         width: 1440px;
     }

     .container div {
         align-items: center;
         justify-content: center;
     }

     .flex {
         width: 1440px;
         height: 730px;
         top: 829px;
         align-items: center;
         background-color: #f7f7f7;
         display: flex;
         border: 1px solid #000;
     }

     .flex div {
         border: 1px solid #000;
         margin: 15px;
         flex-basis: 100%;
         text-align: center;
     }

     .flex h5 {
         background-color: #FF4081;
         color: #fff;
         width: 233px;
         height: 51px;
         position: absolute;
         line-height: 0;
         border-radius: 62px;
         margin: 5px;
     }

     .flex h3 {
         color: #FF4081;
         font-size: 25px;
         line-height: 29px;
         font-weight: 700;
         text-align: center;
         font-style: normal;
     }

     .flex p {
         font-style: normal;
         font-weight: 300;
         font-size: 17px;
         line-height: 20px;
         text-align: center;
         color: #000
     }

     .depoimentos {
         width: 1440px;
         height: 427px;
         left: 128px;
         top: 1678px;
         padding: 200px;
     }

     .depoimentos div,
     img {
         display: flex;
         justify-content: space-evenly;
         align-items: center;
     }

     .depoimentos p {
         color: #000;
         font-weight: 300;
         font-size: 18px;
     }

     .depoimentos h5 {
         font-size: 18px;
         line-height: 25px;
         color: #000;
         font-weight: 400;
     }

     .depoimentos h2 {
         color: #009688;
         font-family: Nunito;
         font-style: normal;
         font-weight: 700;
         font-size: 37px;
         line-height: 50px;
     }

     .depoimentos2 {
         display: flex;
         align-items: flex-start;
     }

     .blog {
         background-color: #f7f7f7;
         width: 1440px;
         height: 730px;
         left: 0px;
         top: 2260px;
         position: absolute;
     }

     .retangulo {
         width: 319px;
         height: 193px;
         background-color: #c4c4c4;
         position: absolute;

     }

     .retangulo1 {
         width: 319px;
         height: 193px;
         background-color: #c4c4c4;
         position: absolute;

     }

     .retangulo2 {
         width: 319px;
         height: 193px;
         background-color: #c4c4c4;
         position: absolute;

     }

     footer {
         display: flex;
         background-color: #419488;
         position: absolute;
         width: 1440px;
         height: 207px;
         left: 0px;
         top: 2990px;
         align-items: flex-start;
     }

     footer img {
         margin-left: 128px;
         margin-top: 53px;
     }

     #rodmeio {
         color: #FFF;
         font-size: 20px;
         font-weight: 400;
         margin-left: 183px;
         margin-top: 53px;
         margin-right: 320px;
         line-height: 30px;


     }

     #queroserprof {
         font-weight: 400;
         font-size: 20px;
         line-height: 20px;
         margin-right: 178px;
         text-align: center;
}

     #retangulo12 {
         width: 289px;
         height: 51px;
         top: 50px;
         left: 1014px;
         box-sizing: border-box;
         border: 2px solid #FFFFFF;
         border-radius: 62px;
         padding: 10px;
         position: absolute;
     }

     #outrolink {
         line-height: 23px;
         font-size: 20px;
         font-weight: 400;
         color: #FFF;
         margin-right: 178px;
         text-align: center;
     }

     #retangulo13 {
        position: absolute;
        width: 289px;
        height: 51px;
        top: 114px;
        bottom: 1014px;
        border-radius: 62px;
        border: 2px solid #FFF;
        box-sizing: border-box;
        padding: 10px;
}